name: Deploy

on:
  push:
    branches: [ sandbox ]

permissions:
  id-token: write     # REQUIRED for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::606444776738:role/Teraform_Github_S3_Access
          aws-region: ap-south-1

      - name: Test AWS Access
        run: aws sts get-caller-identity

      - name: list s3 buckets
        run: aws s3 ls